apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  selector:
    matchLabels:
      run: frontend
  replicas: 2
  template:
   metadata:
     labels:
       run: frontend
   spec:
     containers:
     - name: frontend
       image: docker.io/yofrank1/udagram-frontend:v1
       ports:
       - containerPort: 80
       resources:
         limits:
           cpu: 1000m
         requests:
           cpu: 500m


---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    run: frontend
spec:
  ports: 
  - port: 80
    protocol: TCP
  selector:
    run: frontend