apiVersion: apps/v1
kind: Deployment
metadata:
  name: reverseproxy
spec:
  selector:
    matchLabels:
      run: reverseproxy
  replicas: 2
  template:
   metadata:
     labels:
       run: reverseproxy
   spec:
     containers:
     - name: reverseproxy
       image: docker.io/yofrank1/udagram-reverseproxy:v1
       ports:
       - containerPort: 80
       resources:
         limits:
           cpu: 500m
         requests:
           cpu: 200m


---
apiVersion: v1
kind: Service
metadata:
  labels:
    service: reverseproxy
  name: reverseproxy
spec:
  ports: 
  - name: "8080"
    port: 8080
    targetPort: 8008
  selector:
    service: reverseproxy


